.loginBody {
      background: rgb(70,177,212);
    background: -moz-linear-gradient(90deg, rgba(70,177,212,1) 54%, rgba(184,176,255,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(70,177,212,1) 54%, rgba(184,176,255,1) 100%);
    background: linear-gradient(90deg, rgba(70,177,212,1) 54%, rgba(184,176,255,1) 100%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginRow {
    width: 960px;
}

.loginForm {
    margin: 32px;
    padding: 80px 40px;
    background-color: white;
    color: #3e3e3e;
    font-weight: 600;
    box-shadow: 0 0 25px -5px rgba(0,0,0,0.75);
    border-radius: 25px;
    text-align: center;
}

hr {
    margin-bottom: 32px
}

.loginForm h3 {
    text-align: center;
    font-weight: 600;
}

.myLoginButton {
    padding: 10px;
    margin: 10px 0;
    font-weight: 600;
    border: 0px;
     background: rgb(70,177,212);
    background: -moz-linear-gradient(90deg, rgba(70,177,212,1) 54%, rgba(184,176,255,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(70,177,212,1) 54%, rgba(184,176,255,1) 100%);
    background: linear-gradient(90deg, rgba(70,177,212,1) 54%, rgba(184,176,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#46b1d4",endColorstr="#b8b0ff",GradientType=1);
    color: white;
    width: 168px;
    min-height: 40px;
    transition: 0.3s;
    border-radius: 16px
}

.myLoginButton:hover {
    color: white;
    text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.82);
    box-shadow: 0 0 16px -6px rgba(0,0,0,0.80);
}

small {
    font-size: 1.2em
}

@media (max-width: 965px) {
    .loginRow {
    width: 100%;
    }

.loginForm {
    padding: 40px 16px 8px 8px;
    margin: 32px 8px;
}
}