.homeButton {
    padding: 15px 35px;
    font-weight: 600;
    font-size: 1.3em;
    border: 2.5px solid #4b98b1;
    color:#4b98b1;
    transition: 0.3s;
    z-index: 2;
}

.loginButton {
    padding: 10px 30px;
    font-weight: 600;
    font-size: 1.3em;
    border: 2.5px solid #E8DAB2;
    color:#E8DAB2;
    transition: 0.3s
}

.loginButton:hover {
  color: rgb(30, 42, 48); 
  text-decoration: none;
  background-color: #E8DAB2;
  border-color: rgb(30, 42, 48);
}

.homeButton:hover {
  color: #E8DAB2;
  background-color: #4b98b1;
  text-decoration: none;
  border-color: rgb(241, 233, 207);
}

.homePhrase {      
    background-color: rgb(255, 255, 255);
    text-align: center;
    align-items: left;
    padding: 5% 0 0 0;
}

.homePhrase img {
    width: 450px;
    max-width: 100%;
    height: auto;
    float: center;
    z-index: 1;
    position: relative
}

.colPhrase {
    text-align: center;
    padding: 8% 2% 12% 12%; 
}

h1 {
    color: #3e3e3e;
    font-size: 4.5em;
    font-weight: bold;
    margin-bottom: 15%;
    text-align: right;
    padding: 2%;
    z-index: 2;
}

.colBlue {
    text-align: center;
}

.bluePhrase {
    text-align: center;
    padding: 10% 12% 12% 10%;
    color: rgb(255, 255, 255);
}

.blueRow {   
    background-color: #40a3c4;
    align-items: top;
    justify-content: right;
    padding: 5% 0 0 0;
    color: white;
}

.blueRow img {
    max-width: 50%;
}

.blueRow h4 {
    font-weight: bold;
    margin: 2%;
}

.role img {
    width: 35%;
    margin-bottom: 2%;
}

.lastRow {
    background-color: white;
    padding: 10% 30% 0 30%;
}

.lastRow img {
    width: 700px;
    max-width: 100%;
    height: auto;
    float: center;
    z-index: 1;
    position: relative;
    margin-bottom: 20px;
}

.lastRow h1 {
    margin-bottom: 5px;
    text-align: center;
}

.bluePhrase h2 {
    font-weight: 600;
    font-size: 2.5em;
    margin-bottom: 15%;
    text-align: left;
}

h2 {
    font-weight: 600;
    font-size: 2.5em;
    margin-bottom: 15%;
}

.backImg1 {
    background-image: url("../../ui/ImageFoBack/1.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.backImg2 {
    background-image: url("../../ui/ImageFoBack/2.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.backImg3 {
    background-image: url("../../ui/ImageFoBack/3.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.homeFooter {
    background-color: rgb(24, 49, 61);
    padding: .5%;
    color: #E8DAB2;
    display: flex;
    justify-content: center;
}

.homeFooter p {
    margin-top: 1%;
    text-align: center;
    font-weight: 600;
}

/* color para la nueva identidad de la app: #00b2d7 */