.homeButton {
    padding: 15px 35px;
    font-weight: 600;
    font-size: 1.3em;
    border: 2.5px solid white;
    color:white;
    transition: 0.3s;
    z-index: 2;
}

.loginButton {
    padding: 10px 30px;
    font-weight: 600;
    font-size: 1.3em;
    border: 2.5px solid white;
    color:white;
    transition: 0.3s
}

.loginButton:hover {
  color: #3e3e3e; 
  text-decoration: none;
  background-color: white;
  border-color: #3e3e3e;
}

.homeButton:hover {
  color: #3e3e3e;
  background-color: white;
  text-decoration: none;
  border-color: #3e3e3e;
}

.homePhrase {      
    background-color: rgb(255, 255, 255);
    text-align: center;
    align-items: left;
    padding: 5% 0 0 0;
}

.imgPhrase img {
    width: 350px;
    max-width: 100%;
    padding: 10% 0 5% 0;
    height: auto;
    float: center;
    z-index: 0;
    position: relative
}

.colPhrase img {
    width: 250px;
    max-width: 100%;
    height: auto;
    float: center
}

.colPhrase {
    text-align: center;
    padding: 0 2% 12% 12%;
    }

.homePhrase h1 {
    color: #3e3e3e;
    font-size: 5em;
    font-weight: bold;
    margin-bottom: 10%;
    text-align: right;
    padding: 2%;
    z-index: 2;
}

@media (max-width: 883px) {
    .homePhrase h1 {
        font-size: 3em;
        text-align: center;
        padding-bottom: 5%;
    }

    .colPhrase {
    padding: 0 1% 15% 1%;
    }

}

@media (max-width: 1163px){
   

    .colPhrase {
    padding: 0 1% 15% 1%;
    }
} 

@media (max-width: 1682px){
    .homePhrase h1 {
        font-size: 3.5em
    }
}

@media (max-width: 450px) {
    .homePhrase h1{
        font-size: 2.5em;       
    }

    .mowieText h3 {
        text-align: left;
        padding: 0;
        margin: 0;
    }

    .lastRow h1{
        font-size: .5em;
    }

    .lastRow .mowieCol img {
    width: 90vw;
    max-width: 90vw;
    float: center;
    z-index: 1;
    position: relative;
    margin-bottom: 20px;
    }

    .mowieCol {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0
    }

    .lastRow .mowieCol h1 {
        font-size: 2em
    }

};
  
.colBlue {
    text-align: center;
}

.bluePhrase {
    text-align: center;
    padding: 10% 12% 12% 10%;
    color: rgb(255, 255, 255);
}

.blueRow {   
    background-color: #46b1d4;
    text-align: center;
    align-items: top;
    justify-content: right;
    padding: 5% 0 0 0;
    color: white;
}

.blueRow img {
    max-width: 50%;
}

.blueRow h4 {
    font-weight: bold;
    margin: 2%;
}

.role img {
    width: 35%;
    margin-bottom: 2%;
}

.lastRow {
    background-color: white;
    color: #3e3e3e;
    padding: 6% 5% 3% 5%;
}

.lastRow img {
    width: 700px;
    max-width: 50vw;
    height: auto;
    float: center;
    z-index: 1;
    position: relative;
    margin-bottom: 20px;
}

/* .lastRow h1 {
    font-size: 2.5em;
    margin-bottom: 5px;
    text-align: center;
} */

.mowieText {
    display: flex;
    text-align: center;
    align-items: center;
    padding: 80px 5% 20px 5%;
}

.mowieCol {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px;
}

.bluePhrase h2 {
    font-weight: 600;
    font-size: 2.5em;
    margin-bottom: 15%;
    text-align: left;
}

h2 {
    font-weight: 600;
    font-size: 2.5em;
    margin-bottom: 15%;
}

.backImg1 {
    background-image: url("../../ui/ImageFoBack/1.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.backImg2 {
    background-image: url("../../ui/ImageFoBack/2.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.backImg3 {
    background-image: url("../../ui/ImageFoBack/3.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.homeFooter {
    background-color: #3e3e3e;;
    padding: .5%;
    color: white;
    display: flex;
    justify-content: center;
}

.homeFooter p {
    margin-top: 1%;
    text-align: center;
    font-weight: 600;
}

/* color para la nueva identidad de la app: #00b2d7 */