/* .nav {
    background-color: #d75a0e;
    color: #E8DAB2;
    box-shadow: 1px -9px 8px 9px rgba(0,0,0,0.6);
} */

.nav {
    background-color: #3e3e3e;
    color: white;
    box-shadow: 1px -9px 8px 9px rgba(0,0,0,0.6);
    z-index: 2;
}

.navEnd {
    display: flex;
    justify-content: flex-end;
}

.nav a {
    color: white;
    font-weight: 500;
    transition: 0.3s;
}

.nav a:hover {
    color: #46b1d4;
}

.navLogo {
    height: 32px;
}