.commentForm {
    width: 100%;
    background-color: #557b88;
    color: white;
    font-weight: 600;
    border: 10px solid white;
    border-radius: 6px;
}

.commentForm h2 {
    color: white;
    font-weight: 600;
}

.modalButton {
    align-content: center;
    text-align: center;
    padding: 10px;
    border: 3px solid white;
    font-weight: 600;
    background-color: rgb(30, 42, 48);
    color: white;
    width: 40%;
    transition: 0.3s;
    margin: 15px 10px;
}

.modalButton:hover {
    border-color: rgb(30, 42, 48);
    color: rgb(30, 42, 48);
    background-color: white;
}

.buttons {
    display: block;
    text-align: center;   
}